@import "../../../assets/styles/_vars-fonts-mixins.scss";

.runnig-string {
  overflow: hidden;
  &__text_artigos {
    padding: 27px 48px 29px;
    @media (width < $width-tablet) {
      padding: 21px 48px 17px;
      width: 320px;
    }
  }
  &__text_webinars {
    padding: 41px 38px 36px;
    @media (width < $width-tablet) {
      padding: 18px 38px 18px;
      width: 156px;
    }
    @media (width < $width-smartpthone) {
      padding: 17px 38px 16px;
    }
  }
  &__text_subscribe {
    padding: 41px 50px 36px;
    @media (width < $width-tablet) {
      padding: 20px 50px 16px;
      width: 180px;
    }
  }
  &__text_descuento {
    @media (width < $width-tablet) {
      padding: 17px 50px 13px;
      width: 690px;
    }
    @media (width < $width-smartpthone) {
      padding: 21px 50px 20px;
      width: 475px;
    }
  }

  &__box {
    display: flex;
    animation: running-string 40s infinite linear;
  }

  &_bottom {
    margin-bottom: -20px;
    @media (width < $width-tablet) {
      height: 164px;
      margin-bottom: -2px;
    }
    @media (width < $width-smartpthone) {
      height: 100px;
    }
  }
}

@keyframes running-string {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-150%, 0);
  }
}

.main {
  &__runnig-string-box {
    overflow: hidden;
    height: 394px;
    @media (width < $width-tablet) {
      height: 285px;
    }
    @media (width < $width-smartpthone) {
      height: 250px;
    }
  }
  &__runnig-string {
    @include AchivoH1($black);
    background-color: $turquoise;
    width: 3250px;
    transform: rotate(-4deg);
    padding-top: 10px;
    margin: calc(7vw + 1vh - 49px) 0 0 -10px;
    @media (width < $width-tablet) {
      transform: rotate(-3deg);
      width: 2150px;
      margin-top: calc(8vw + 1vh - 44px);
      padding: 9px 0 5px;
    }
    @media (width < $width-smartpthone) {
      margin-top: -10px;
      transform: rotate(-4deg);
      margin-top: calc(5vw - 40px);
    }
  }
}

.webinars {
  &__runnig-string-box {
    overflow: hidden;
    height: 372px;
    @media (width > $width-laptop) {
      height: 425px;
    }
    @media (width < $width-tablet) {
      height: 358px;
    }
    @media (width < $width-smartpthone) {
      height: 228px;
    }
  }
  &__runnig-string {
    background-color: #ffad20;
    width: 3250px;
    transform: rotate(-3deg);
    margin: calc(9vw + 1vh - 32px) 0 0 -10px;
    @media (width > $width-laptop) {
      margin: calc(9vw + 1vh - 30px) 0 0 -10px;
    }
    @media (width < $width-tablet) {
      padding: 12px 0 10px;
      margin-top: calc(17vw + 1vh - 2px);
      transform: rotate(-3deg);
      width: 2150px;
    }
    @media (width < $width-smartpthone) {
      margin-top: calc(9vw + 1vh - 46px);
      transform: rotate(-4deg);
    }
  }
  &__runnig-string_bottom {
    transform: rotate(2deg);
    margin: 46px 0 119px -10px;
    background-color: $coral-dark;
    @media (width > $width-laptop) {
      margin: 4px 0 106px -10px;
    }
    @media (width < $width-tablet) {
      transform: rotate(3deg);
      width: 2150px;
      margin: 45px 0 107px -10px;
    }
    @media (width < $width-smartpthone) {
      transform: rotate(4deg);
      margin: 70px 0 auto -10px;
    }
  }
}

.footer {
  &__runnig-string {
    @include AchivoH1($black);
    background-color: $pink-dark;
    width: 3250px;
    padding: 39px 0 28px;
    margin-top: 12px;
    @media (width < $width-tablet) {
      padding: 10px 0 1px;
      margin-top: 12px;
    }
  }
}
