@font-face {
  font-family: "ArchivoBlack";
  font-style: normal;
  font-weight: normal;
  src: local("ArchivoBlack-Regular"), url("../fonts/ArchivoBlack-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Nunito-Regular"), url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Medium";
  font-style: normal;
  font-weight: medium;
  src: local("Nunito-Medium"), url("../fonts/Nunito-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Nunito-Bold"), url("../fonts/Nunito-Bold.ttf") format("truetype");
}
.runnig-string {
  overflow: hidden;
}
.runnig-string__text_artigos {
  padding: 27px 48px 29px;
}
@media (width < 1280px) {
  .runnig-string__text_artigos {
    padding: 21px 48px 17px;
    width: 320px;
  }
}
.runnig-string__text_webinars {
  padding: 41px 38px 36px;
}
@media (width < 1280px) {
  .runnig-string__text_webinars {
    padding: 18px 38px 18px;
    width: 156px;
  }
}
@media (width < 768px) {
  .runnig-string__text_webinars {
    padding: 17px 38px 16px;
  }
}
.runnig-string__text_subscribe {
  padding: 41px 50px 36px;
}
@media (width < 1280px) {
  .runnig-string__text_subscribe {
    padding: 20px 50px 16px;
    width: 180px;
  }
}
@media (width < 1280px) {
  .runnig-string__text_descuento {
    padding: 17px 50px 13px;
    width: 690px;
  }
}
@media (width < 768px) {
  .runnig-string__text_descuento {
    padding: 21px 50px 20px;
    width: 475px;
  }
}
.runnig-string__box {
  display: flex;
  animation: running-string 40s infinite linear;
}
.runnig-string_bottom {
  margin-bottom: -20px;
}
@media (width < 1280px) {
  .runnig-string_bottom {
    height: 164px;
    margin-bottom: -2px;
  }
}
@media (width < 768px) {
  .runnig-string_bottom {
    height: 100px;
  }
}

@keyframes running-string {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-150%, 0);
  }
}
.main__runnig-string-box {
  overflow: hidden;
  height: 394px;
}
@media (width < 1280px) {
  .main__runnig-string-box {
    height: 285px;
  }
}
@media (width < 768px) {
  .main__runnig-string-box {
    height: 250px;
  }
}
.main__runnig-string {
  color: #1b1f21;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  letter-spacing: 0.01em;
  background-color: #acd6de;
  width: 3250px;
  transform: rotate(-4deg);
  padding-top: 10px;
  margin: calc(7vw + 1vh - 49px) 0 0 -10px;
}
@media (width < 1280px) {
  .main__runnig-string {
    transform: rotate(-3deg);
    width: 2150px;
    margin-top: calc(8vw + 1vh - 44px);
    padding: 9px 0 5px;
  }
}
@media (width < 768px) {
  .main__runnig-string {
    margin-top: -10px;
    transform: rotate(-4deg);
    margin-top: calc(5vw - 40px);
  }
}

.webinars__runnig-string-box {
  overflow: hidden;
  height: 372px;
}
@media (width > 1440px) {
  .webinars__runnig-string-box {
    height: 425px;
  }
}
@media (width < 1280px) {
  .webinars__runnig-string-box {
    height: 358px;
  }
}
@media (width < 768px) {
  .webinars__runnig-string-box {
    height: 228px;
  }
}
.webinars__runnig-string {
  background-color: #ffad20;
  width: 3250px;
  transform: rotate(-3deg);
  margin: calc(9vw + 1vh - 32px) 0 0 -10px;
}
@media (width > 1440px) {
  .webinars__runnig-string {
    margin: calc(9vw + 1vh - 30px) 0 0 -10px;
  }
}
@media (width < 1280px) {
  .webinars__runnig-string {
    padding: 12px 0 10px;
    margin-top: calc(17vw + 1vh - 2px);
    transform: rotate(-3deg);
    width: 2150px;
  }
}
@media (width < 768px) {
  .webinars__runnig-string {
    margin-top: calc(9vw + 1vh - 46px);
    transform: rotate(-4deg);
  }
}
.webinars__runnig-string_bottom {
  transform: rotate(2deg);
  margin: 46px 0 119px -10px;
  background-color: #fe6d44;
}
@media (width > 1440px) {
  .webinars__runnig-string_bottom {
    margin: 4px 0 106px -10px;
  }
}
@media (width < 1280px) {
  .webinars__runnig-string_bottom {
    transform: rotate(3deg);
    width: 2150px;
    margin: 45px 0 107px -10px;
  }
}
@media (width < 768px) {
  .webinars__runnig-string_bottom {
    transform: rotate(4deg);
    margin: 70px 0 auto -10px;
  }
}

.footer__runnig-string {
  color: #1b1f21;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  letter-spacing: 0.01em;
  background-color: #da3369;
  width: 3250px;
  padding: 39px 0 28px;
  margin-top: 12px;
}
@media (width < 1280px) {
  .footer__runnig-string {
    padding: 10px 0 1px;
    margin-top: 12px;
  }
}/*# sourceMappingURL=running.css.map */