@use "reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  @media (width < vars.$width-smartpthone) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: vars.$black-color;
}

button {
  font-size: 16px;
}

a:visited {
  color: vars.$black-color;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.wrapped {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (width < vars.$width-tablet) {
    padding-top: 118px;
  }
  @media (width < vars.$width-smartpthone) {
    padding-top: 114px;
  }
}
.wrap {
  width: calc(vars.$width-tablet - 72px);
  padding: 0 36px;
  margin: 0 auto;

  @media (width < vars.$width-tablet) {
    padding: 0 32px;
    width: calc(768px - 64px);
  }
  @media (width < vars.$width-smartpthone) {
    width: calc(320px - 16px);
    padding: 0 8px;
  }
}

.menu {
  background-color: vars.$green-dark;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    @media (width < vars.$width-smartpthone) {
      justify-content: space-around;
      padding: 8px 0;
    }
  }
  &__icon {
    fill: vars.$black-color;
    width: 30px;
    height: 30px;
  }
  &__icon-big {
    width: 50px;
    height: 40px;
  }
}

.game {
  background-color: vars.$green_color;
  min-height: 100vh;
  width: 100%;

  &__card-box {
    display: grid;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
    padding: 200px 10px 40px;
    @media (width < vars.$width-tablet) {
      padding: 175px 10px 40px;
    }
    @media (width < vars.$width-smartpthone) {
      padding: 115px 10px 30px;
      // padding: 16px;
    }
  }
  &__card-box4x3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__card-box5x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (width < vars.$width-smartpthone) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &__card-box6x5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    @media (width < vars.$width-smartpthone) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &__card {
    position: relative;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    width: 140px;
    @media (width < vars.$width-tablet) {
      width: 100px;
    }
    @media (width < vars.$width-smartpthone) {
      width: 60px;
    }
  }
  &__card-rear {
    fill: vars.$blue-dark-color;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 175px;
    @media (width < vars.$width-tablet) {
      height: 120px;
    }
    @media (width < vars.$width-smartpthone) {
      height: 80px;
    }
  }
  &__card-front {
    position: absolute;
    width: 85%;
    height: 115px;
    fill: #b35f5f;
    top: calc(50% - 58px);
    left: 6%;
    opacity: 0;
  }
}

.info {
  background-color: vars.$blue-color;
  &__box {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (width < vars.$width-smartpthone) {
      padding: 8px 0;
      justify-content: flex-start;
    }
  }
  &__item:last-child {
    flex-basis: 22%;
    @media (width < vars.$width-smartpthone) {
      flex-basis: 40%;
    }
  }
  &__item {
    @media (width < vars.$width-smartpthone) {
      flex-basis: 40%;
      padding-left: 25px;
    }
  }
}
.info:first-child {
  position: fixed;
  z-index: 1;
  top: 74px;
  width: 100%;
  @media (width < vars.$width-smartpthone) {
    top: 59px;
  }
}
.info:last-child {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.modal {
  width: 100%;
  height: calc(100% - 74px);
  position: absolute;
  top: 74px;
  left: 0;
  z-index: 10;
  background-color: vars.$green-modal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (width < vars.$width-tablet) {
    height: calc(100% - 74px);
  }
  @media (width < vars.$width-smartpthone) {
    top: 59px;
    height: calc(100% - 59px);
  }

  &__title {
    padding-bottom: 24px;
    font-size: 28px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
    align-items: center;
  }

  &__btn {
    width: 120px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    line-height: 100%;
    background-color: vars.$green-dark;
  }
  &__btn:hover {
    background-color: vars.$blue-dark-color;
  }
  &__flex {
    display: flex;
    font-size: 16px;
    width: 270px;
    padding: 10px 0;
    justify-content: space-between;
  }

  &__flex:last-child {
    justify-content: space-around;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}

.options {
  min-height: 100vh;
  background-color: vars.$green_color;
  &__container {
    padding: 64px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    justify-content: space-around;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
  }
  &__flex:nth-child(4) {
    display: block;
  }
  &__flex:nth-child(4) > p {
    padding-bottom: 10px;
  }
  &__flex:nth-child(4) > div {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
  }
  &__flex:nth-child(10) > div:first-child {
    width: 90px;
  }
  &__flex:nth-child(10) > div:last-child {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__size-radio {
    display: none;
  }
  &__size-radio:checked ~ &__size-label {
    background-color: vars.$blue-color;
  }
  &__size-label {
    padding: 2px 5px;
    border-radius: 3px;
  }

  &__range {
    width: 50%;
  }

  &__input-upload {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &__btn-upload,
  &__btn-save {
    padding: 8px 16px;
    height: fit-content;
    border: none;
    border-radius: 10px;
    line-height: 100%;
    background-color: vars.$green-dark;
    font-weight: inherit;
    font-family: inherit;
    border: 1px solid transparent;
    transition: all 0.3s;
  }
  &__btn-upload:hover,
  &__btn-save:hover {
    background-color: vars.$blue-dark-color;
  }
  &__agree + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &__agree + label::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #24a3a3;
    background-color: vars.$green-modal;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 14px 0px 0px 50px;
  }
  @media (width < 1280px) {
    &__agree + label::after {
      margin-bottom: 10px;
    }
  }
  @media (width < 768px) {
    &__agree + label::after {
      margin-bottom: 31px;
    }
  }
  &__agree:checked + label::after {
    background: vars.$green-modal vars.$chbox-svg center center no-repeat;
  }
  // &__agree:hover + label::after {
  //   border-color: #fcfaf9;
  //   background-color: rgba(252, 250, 249, 0.5647058824);
  // }
  &__agree:focus + label::after {
    border-color: #1b1f21;
  }
  &__agree:disabled + label::after {
    border-color: rgba(252, 250, 249, 0.5647058824);
    background-color: rgba(252, 250, 249, 0.5647058824);
    background-image: none;
  }
  // &__chbox-text {
  //   color: #000000;
  //   font-weight: 400;
  //   font-size: 15px;
  //   line-height: 140%;
  //   width: 536px;
  // }
  // @media (width < 1280px) {
  //   &__chbox-text {
  //     color: #000000;
  //     font-weight: 400;
  //     font-size: 13px;
  //     line-height: 140%;
  //     width: 320px;
  //   }
  // }
  // @media (width < 768px) {
  //   &__chbox-text {
  //     width: 220px;
  //   }
  // }

  &__upload-span {
    font-size: 10px;
  }

  &__range-text {
    padding-bottom: 10px;
    width: 100%;
  }
  &__range-span {
    padding: 5px 10px;
  }

  &__modal {
    position: absolute;
    background-color: vars.$blue-color;
    top: 40%;
    padding: 26px 10px 16px;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px vars.$blue-modal;
    width: 270px;
    left: calc(50% - 145px);
  }
  &__modal-txt {
    text-align: center;
    padding-bottom: 10px;
  }
  // &__delay {
  //   padding: 0 10px;
  // }
}

.flip-vertical-right {
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
.opacity-appear {
  animation: opacity-appear 0.4s linear both;
}
.opacity-disappeared {
  animation: opacity-disappeared 0.4s linear both;
}

@keyframes flip-vertical-right {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes opacity-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-disappeared {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flip-vertical-left {
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes flip-vertical-left {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.invalid {
  color: #ff0000;
}
.valid {
  color: vars.$blue-valid;
}
.alowed {
  color: orange;
}
.none {
  display: none;
}
