@font-face {
  font-family: "ArchivoBlack";
  font-style: normal;
  font-weight: normal;
  src: local("ArchivoBlack-Regular"), url("../fonts/ArchivoBlack-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Nunito-Regular"), url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Medium";
  font-style: normal;
  font-weight: medium;
  src: local("Nunito-Medium"), url("../fonts/Nunito-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Nunito-Bold"), url("../fonts/Nunito-Bold.ttf") format("truetype");
}
.header {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  transition: transform 0.2s linear;
  background-color: #fcfaf9;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 15.2px;
  flex-wrap: wrap;
}
@media (width < 1280px) {
  .header__box {
    display: flex;
    padding-bottom: 0px;
  }
}
@media (width < 768px) {
  .header__box {
    display: flex;
    padding: 12px 0 0;
  }
}
.header__logo {
  width: 108.9px;
  height: 40px;
  fill: #1b1f21;
  transition: fill 0.3s;
}
@media (width < 768px) {
  .header__logo {
    width: 140px;
    height: 48px;
    margin-left: -5px;
  }
}
.header__logo:hover {
  fill: #da3369;
}
.header__nav {
  width: 698px;
  margin-top: -1px;
}
@media (width < 1280px) {
  .header__nav {
    width: auto;
    display: flex;
    overflow-y: auto;
    padding-top: 21px;
    order: 4;
    margin-top: 0;
  }
}
@media (width < 768px) {
  .header__nav {
    padding-top: 13px;
  }
}
.header__nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.header__link:not(:last-child) {
  margin-right: 10px;
}
@media (width < 768px) {
  .header__link:not(:last-child) {
    margin-right: 7px;
  }
}
.header__link {
  padding: 8px 18px;
  border: 1.2px solid #e8e8e8;
  border-radius: 20px;
  background-color: #fcfaf9;
  white-space: nowrap;
  transition: background-color 0.3s;
  color: #1b1f21;
  font-family: "Nunito Medium";
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  font-size: 14.78px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (width < 1280px) {
  .header__link {
    padding: 8px 18.2px;
    font-size: 15px;
  }
}
@media (width < 768px) {
  .header__link {
    padding: 8px 17.7px;
  }
}
.header__search {
  display: flex;
  justify-content: end;
}
@media (width < 1280px) {
  .header__search {
    margin-top: -4px;
  }
}
.header__search-img {
  padding-right: 27px;
}
@media (width < 768px) {
  .header__search-img {
    padding-right: 22px;
  }
}
.header__search-span {
  padding-right: 11px;
  text-transform: uppercase;
  color: #1b1f21;
  font-family: "Nunito Medium";
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  position: relative;
}
.header__search-span::before {
  content: "";
  display: block;
  background-color: #bedb39;
  width: 0;
  height: 1.5px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: -17px;
  transition: width 0.4s;
}
.header__search:hover .header__search-span::before {
  width: 67px;
  left: 0;
}
@media (width < 320px) {
  .header__search:active .header__search-span::before {
    width: 67px;
    left: 0;
  }
}

.header.hide {
  transform: translateY(-74px);
}
@media (width < 1280px) {
  .header.hide {
    transform: translateY(-118px);
  }
}
@media (width < 768px) {
  .header.hide {
    transform: translateY(-114px);
  }
}

.button__0:disabled, .button__1:disabled, .button__2:disabled, .button__3:disabled, .button__4:disabled, .button__5:disabled {
  opacity: 0.6;
}
.button__0:hover {
  background-color: #ec95b1;
  color: #1b1f21;
}
.button__1:hover {
  background-color: #a4ccfe;
  color: #1b1f21;
}
.button__2:hover {
  background-color: #bedb39;
  color: #1b1f21;
}
.button__3:hover {
  background-color: #ffad20;
  color: #1b1f21;
}
.button__4:hover {
  background-color: #acd6de;
  color: #1b1f21;
}
.button__5:hover {
  background-color: #aedfd6;
  color: #1b1f21;
}
.button__0:active {
  background-color: #da3369;
}
.button__1:active {
  background-color: #5fa5fd;
}
.button__2:active {
  background-color: #94ac23;
}
.button__3:active {
  background-color: #ef9700;
}
.button__4:active {
  background-color: #57acbc;
}
.button__5:active {
  background-color: #57bcaa;
}/*# sourceMappingURL=header.css.map */