.webinars {
  width: 100vw;
  margin: 0 auto;
}
.webinars__bkg {
  position: relative;
  overflow: hidden;
  background: url(/images/background/webinars-bg-1440.svg) 50% 135px no-repeat;
  background-size: 1440px;
}
@media (width > 1440px) {
  .webinars__bkg {
    background: url(/images/background/webinars-bg-4k.svg) 0% 147px no-repeat;
    background-size: 3840px;
  }
}
@media (width < 1280px) {
  .webinars__bkg {
    background: url(/images/background/webinars-bg-768.svg) calc(50% + 107px) 106px no-repeat;
    background-size: 1568px;
  }
}
@media (width < 768px) {
  .webinars__bkg {
    background-image: none;
  }
}
.webinars__bkg-black {
  position: absolute;
  background-color: #1b1f21;
  margin: -145px 0 0 -380px;
  z-index: -10;
  width: 150vw;
  height: 860px;
  transform: perspective(160px) rotateY(-1deg);
}
@media (width > 1440px) {
  .webinars__bkg-black {
    margin-top: -150px;
  }
}
@media (width < 1280px) {
  .webinars__bkg-black {
    height: 1060px;
    margin: -110px 0 0 -150px;
  }
}
@media (width < 768px) {
  .webinars__bkg-black {
    height: 1550px;
  }
}
.webinars__container {
  margin-top: -14px;
  padding-bottom: 94px;
  display: flex;
  justify-content: space-between;
}
@media (width < 1280px) {
  .webinars__container {
    margin-top: -30px;
    padding-bottom: 96px;
    flex-wrap: wrap;
    row-gap: 24px;
  }
}
@media (width < 768px) {
  .webinars__container {
    margin-top: -30px;
    padding-bottom: 70px;
    position: relative;
    row-gap: 16px;
  }
}
@media (width < 768px) {
  .webinars__container:last-child {
    padding-bottom: 212px;
  }
}
.webinars__title {
  color: #fcfaf9;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
  margin-top: 4px;
}
@media (width < 1280px) {
  .webinars__title {
    color: #fcfaf9;
    font-family: "ArchivoBlack";
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    font-size: 28px;
    width: 340px;
    margin-top: 24px;
  }
}
@media (width < 768px) {
  .webinars__title {
    width: 308px;
    line-height: 120%;
    margin-top: 7px;
  }
}
.webinars__btn {
  border: 2px solid #9853f4;
  border-radius: 30px;
  padding: 15px 61px;
  background-color: #9853f4;
  box-sizing: border-box;
  transition: all 0.3s;
  color: #fcfaf9;
  font-family: "Nunito-Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  margin-left: 4px;
}
@media (width < 1280px) {
  .webinars__btn {
    margin-left: 4px;
    margin-top: 9px;
  }
}
@media (width < 768px) {
  .webinars__btn {
    position: absolute;
    width: 99.5%;
    top: 1279px;
    margin-left: 1px;
    z-index: 1;
  }
}
.webinars__btn:hover, .webinars__btn:active {
  background-color: #1b1f21;
  border: 2px solid #1b1f21;
  outline: none;
  cursor: pointer;
}
.webinars__btn:focus-visible {
  outline: none;
  border: 2px solid #1b1f21;
}
.webinars__btn:disabled {
  opacity: 0.6;
}
.webinars__btn:focus {
  border: 2px solid #fcfaf9;
  outline: none;
}
.webinars__card {
  border-radius: 32px;
  padding: 32px;
  width: 376px;
  height: 432px;
  color: #fcfaf9;
  font-family: "Nunito-Medium";
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}
@media (width < 1280px) {
  .webinars__card {
    justify-content: flex-start;
    padding: 24px;
    width: 340px;
    height: 400px;
  }
}
@media (width < 768px) {
  .webinars__card {
    justify-content: space-between;
    width: 304px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.webinars__card:nth-child(1) {
  background: #57acbc url(/images/background/card1-bg-376.svg) 101% 101% no-repeat;
}
@media (width < 1280px) {
  .webinars__card:nth-child(1) {
    background-position: 79px 82px;
  }
}
@media (width < 768px) {
  .webinars__card:nth-child(1) {
    background-position: 61px 30px;
  }
}
@media (width < 1280px) {
  .webinars__card:nth-child(1) > p {
    width: 200px;
    min-height: 199px;
  }
}
@media (width < 768px) {
  .webinars__card:nth-child(1) > p {
    min-height: auto;
  }
}
.webinars__card:nth-child(2) {
  background: #fe6d44 url(/images/background/card2-bg-376.svg) 100% 100% no-repeat;
}
@media (width < 1280px) {
  .webinars__card:nth-child(2) {
    background-image: url(/images/background/card2-bg-340.svg);
  }
}
@media (width < 768px) {
  .webinars__card:nth-child(2) {
    background-position: 62px -6px;
  }
}
.webinars__card:nth-child(3) {
  background: #ef9700 url(/images/background/card3-bg-376.svg) 0% 8px no-repeat;
}
@media (width < 1280px) {
  .webinars__card:nth-child(3) {
    background-image: url(/images/background/card3-bg-704.svg);
    background-position: 24% 1px;
    flex-basis: 100%;
    height: 272px;
  }
}
@media (width < 768px) {
  .webinars__card:nth-child(3) {
    background-image: url(/images/background/card1-bg-376.svg);
    background-position: 61px 50px;
    height: 370px;
  }
}
.webinars__card-header {
  min-height: 104px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
@media (width < 1280px) {
  .webinars__card-header {
    min-height: 74px;
  }
}
@media (width < 768px) {
  .webinars__card-header {
    min-height: 79px;
  }
}
.webinars__avatar-box {
  padding-top: 12px;
  overflow: hidden;
}
.webinars__avatar {
  width: 64px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.5901C0 6.08451 6.08451 0 13.5901 0C17.1337 0 20.3604 1.3562 22.7797 3.57787C25.2105 1.35563 28.4469 0 32 0C35.553 0 38.7895 1.35562 41.2203 3.57787C43.6396 1.3562 46.8663 0 50.4099 0C57.9155 0 64 6.08451 64 13.5901V50.4099C64 57.9155 57.9155 64 50.4099 64C46.8663 64 43.6396 62.6438 41.2203 60.4221C38.7895 62.6444 35.553 64 32 64C28.4469 64 25.2105 62.6444 22.7797 60.4221C20.3604 62.6438 17.1337 64 13.5901 64C6.08451 64 0 57.9155 0 50.4099V13.5901Z' fill='%23D4D4D4'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.5901C0 6.08451 6.08451 0 13.5901 0C17.1337 0 20.3604 1.3562 22.7797 3.57787C25.2105 1.35563 28.4469 0 32 0C35.553 0 38.7895 1.35562 41.2203 3.57787C43.6396 1.3562 46.8663 0 50.4099 0C57.9155 0 64 6.08451 64 13.5901V50.4099C64 57.9155 57.9155 64 50.4099 64C46.8663 64 43.6396 62.6438 41.2203 60.4221C38.7895 62.6444 35.553 64 32 64C28.4469 64 25.2105 62.6444 22.7797 60.4221C20.3604 62.6438 17.1337 64 13.5901 64C6.08451 64 0 57.9155 0 50.4099V13.5901Z' fill='%23D4D4D4'/%3E%3C/svg%3E");
  -webkit-mask-position: top;
          mask-position: top;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fcfaf9;
  margin-top: -10px;
}
@media (width < 1280px) {
  .webinars__avatar {
    margin-top: -12px;
  }
}
.webinars__user {
  width: 200px;
}
@media (width < 768px) {
  .webinars__user {
    width: 170px;
  }
}
@media (width < 1280px) {
  .webinars__user_big {
    width: 550px;
  }
}
@media (width < 768px) {
  .webinars__user_big {
    width: 170px;
  }
}
.webinars__user-name {
  color: #fcfaf9;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  padding: 7px 0 4px;
}
@media (width < 1280px) {
  .webinars__user-name {
    padding-top: 4px;
  }
}
@media (width < 768px) {
  .webinars__user-name {
    font-size: 22px;
    padding-top: 6px;
  }
}
.webinars__user-position {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.webinars__content {
  color: #fcfaf9;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  min-height: 160px;
  margin-top: -18px;
}
@media (width < 1280px) {
  .webinars__content {
    color: #fcfaf9;
    font-family: "ArchivoBlack";
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    font-size: 24px;
    margin-top: 6px;
  }
}
@media (width < 768px) {
  .webinars__content {
    min-height: auto;
    margin-top: 0;
  }
}
.webinars__content_big {
  min-height: 160px;
}
@media (width < 1280px) {
  .webinars__content_big {
    min-height: 90px;
    margin-top: 6px;
  }
}
@media (width < 768px) {
  .webinars__content_big {
    min-height: 118px;
  }
}
.webinars__card-span {
  padding-bottom: 12px;
}
.webinars__card-span:first-child {
  padding-right: 27px;
}
.webinars__card-data {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (width < 1280px) {
  .webinars__card-data {
    flex-basis: 24%;
  }
}
@media (width < 768px) {
  .webinars__card-data {
    height: auto;
    padding-top: 32px;
    flex-basis: auto;
  }
}/*# sourceMappingURL=webinars.css.map */