.modal_bkg {
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   background-color: rgb(61 83 102 / 79%);
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.modal {
   width: 300px;
   z-index: 11;
   padding: 20px;
   background-color: rgb(255, 255, 255);
   border-radius: 8px;
}
.title {
   text-align: center;
}
.btnbox {
   display: flex;
   justify-content: center;
   gap: 20px;
   padding-top: 20px;
}
.btn {
   border-radius: 6px;
   font-weight: 400;
   font-size: 14px;
   width: 100%;
   text-align: center;
   color: #fff;
   padding: 8px 32px;
   background: #3787eb;
   text-transform: capitalize;

   &:disabled {
      background-color: #eef5fc;
      outline: none;
      color: #abbed1;
   }
}
.ok {
   &:hover {
      background-color: #4b93ed;
   }
   &:focus {
      outline: 2px solid #1b1a1d;
   }
   &:active {
      background-color: #0053ad;
      outline: none;
   }
}
.esc {
   color: rgb(48, 65, 86);
   border: 1px solid rgb(225, 229, 233);
   background-color: #fff;
   :hover {
      border-color: rgb(179, 192, 206);
      background-color: #fff;
   }
}
