.main {
  &__pic-box {
    @include vars-mixins.width-heigth($w: 480px, $h: 560px);
    @include vars-mixins.relative-hidden;
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.width-heigth($w: 720px, $h: 320px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.width-heigth($w: 304px, $h: 352px);
    }
  }
  &__pic {
    margin-top: -114px;
    @include vars-mixins.mask(
      $url: vars-mixins.$main-mask-laptop,
      $pos: bottom
    );
    @include vars-mixins.width-heigth($w: 480px, $h: 675px);

    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.mask($url: vars-mixins.$main-mask-tablet);
      margin: 0px 0 0 8px;
      @include vars-mixins.width-heigth($w: 704px, $h: 320px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      margin: -80px 0 0 0;
      @include vars-mixins.width-heigth($w: 304px, $h: 431px);
      @include vars-mixins.mask(
        $url: vars-mixins.$main-mask-smartphone,
        $pos: bottom
      );
    }
  }
  &__stiker {
    @include vars-mixins.position($r: 0);
    transition: transform 0.9s;
    width: 180px;
    height: 180px;
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.position($t: 8px, $r: 16px);
      width: 120px;
      height: 120px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.position($t: 8px, $r: 8px);
      width: 104px;
      height: 104px;
    }
  }
  &__pic-box:hover &__stiker {
    transform: rotate(180deg);
  }
}

.articles {
  &__img-box {
    @include vars-mixins.width-heigth($w: 584px, $h: 328px);
    position: relative;
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.width-heigth($w: 340px, $h: 240px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.width-heigth($w: 304px, $h: 373px);
    }
  }
  &__img-box_big {
    @include vars-mixins.width-heigth($w: 1208px, $h: 520px);
    flex-basis: 100%;
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.width-heigth($w: 704px, $h: 320px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.width-heigth($w: 308px, $h: 376px);
    }
  }
  &__img {
    width: 584px;
    margin-top: 8px;
    @media (width < vars-mixins.$width-tablet) {
      width: 340px;
      height: 224px;
    }
  }
  &__img_big {
    width: 1208px;
    margin-top: -143px;
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.width-heigth($w: 704px, $h: 470px);
      margin-top: -72px;
    }
  }
  &__img_inverted {
    transform: scale(-1, 1);
  }
  &__img_mask1 {
    @include vars-mixins.mask($url: vars-mixins.$article-mask1-laptop);
    @media (width < vars-mixins.$width-tablet) {
      mask-image: vars-mixins.$article-mask1-tablet;
      margin-top: 25px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      mask-image: vars-mixins.$article-mask2-smartphone;
      @include vars-mixins.width-heigth($w: 542px, $h: 360px);
      margin: 16px 0 0 -120px;
    }
  }
  &__img_mask2 {
    @include vars-mixins.mask($url: vars-mixins.$article-mask2-laptop);
    @media (width < vars-mixins.$width-tablet) {
      mask-image: vars-mixins.$article-mask2-tablet;
      margin-top: 25px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.mask(
        $url: vars-mixins.$article-mask3-smartphone,
        $pos: 78% center,
        $repeat: no-repeat
      );
      @include vars-mixins.width-heigth($w: 532px, $h: 360px);
      margin: 18px 0 0 -50px;
    }
  }
  &__img_mask3 {
    @include vars-mixins.mask($url: vars-mixins.$article-mask4-laptop);
    @media (width < vars-mixins.$width-tablet) {
      mask-image: vars-mixins.$article-mask4-tablet;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      mask-image: vars-mixins.$article-mask4-smartphone;
      margin: -27px 0 0 -139px;
      @include vars-mixins.width-heigth($w: 581px, $h: 450px);
    }
  }
  &__img_mask4 {
    @include vars-mixins.mask($url: vars-mixins.$article-mask5-laptop);
    @media (width < vars-mixins.$width-tablet) {
      mask-image: vars-mixins.$article-mask5-tablet;
      margin-top: 25px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      mask-image: vars-mixins.$article-mask5-smartphone;
      @include vars-mixins.width-heigth($w: 542px, $h: 360px);
      margin: 16px 0 0 -120px;
    }
  }
  &__img_mask5 {
    @include vars-mixins.mask($url: vars-mixins.$article-mask6-laptop);
    @media (width < vars-mixins.$width-tablet) {
      mask-image: vars-mixins.$article-mask6-tablet;
      margin-top: 25px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.mask(
        $url: vars-mixins.$article-mask6-smartphone,
        $pos: 8%
      );
      @include vars-mixins.width-heigth($w: 542px, $h: 360px);
      margin: 16px 0 0 -19px;
    }
  }
  &__stiker {
    transition: transform 0.9s;
  }

  &__stiker_rt {
    @include vars-mixins.width-heigth($w: 180px, $h: 180px);
    @include vars-mixins.position($t: -11px, $r: -40px);
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.position($t: 32px, $r: 8px);
      @include vars-mixins.width-heigth($w: 104px, $h: 104px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.position($t: 30px, $r: 8px);
      @include vars-mixins.width-heigth($w: 120px, $h: 120px);
    }
  }
  &__stiker_rb {
    @include vars-mixins.width-heigth($w: 180px, $h: 180px);
    @include vars-mixins.position($t: -11px, $r: -40px);
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.position($t: 32px, $r: 8px);
      @include vars-mixins.width-heigth($w: 104px, $h: 104px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.position($t: 30px, $l: 8px);
      @include vars-mixins.width-heigth($w: 120px, $h: 120px);
    }
  }
  &__stiker_md {
    @include vars-mixins.width-heigth($w: 180px, $h: 180px);
    @include vars-mixins.position($t: -48px, $r: -40px);
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.position($t: 14px, $r: 8px);
      @include vars-mixins.width-heigth($w: 120px, $h: 120px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.position($t: 32px, $l: 8px);
    }
  }
  &__stiker_lb {
    @include vars-mixins.width-heigth($w: 240px, $h: 240px);
    @include vars-mixins.position($t: -39px, $l: -55px);
    @media (width < vars-mixins.$width-tablet) {
      transform: rotate(15deg);
      @include vars-mixins.width-heigth($w: 164px, $h: 164px);
      @include vars-mixins.position($t: 16px, $r: -2px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.width-heigth($w: 182px, $h: 182px);
      @include vars-mixins.position($t: 8px, $r: -3px);
    }
  }
  &__stiker_lt {
    @include vars-mixins.position($t: -11px, $l: -40px);
    @include vars-mixins.width-heigth($w: 180px, $h: 180px);
    @media (width < vars-mixins.$width-tablet) {
      @include vars-mixins.position($t: 32px, $r: 8px);
      @include vars-mixins.width-heigth($w: 104px, $h: 104px);
    }
    @media (width < vars-mixins.$width-smartpthone) {
      @include vars-mixins.position($t: 28px, $l: 8px);
      @include vars-mixins.width-heigth($w: 120px, $h: 120px);
    }
  }
}

.webinars {
  &__avatar-box {
    padding-top: 12px;
    overflow: hidden;
    @include vars-mixins.width-heigth($w: 64px, $h: 64px);
  }
  &__avatar {
    width: 64px;
    @include vars-mixins.mask($url: vars-mixins.$webinars-mask, $pos: top);
    background-color: vars-mixins.$white;
    margin-top: -10px;
    @media (width < vars-mixins.$width-tablet) {
      margin-top: -12px;
    }
  }
}
