.webinars {
  @include WidthCenter;
  &__bkg {
    @include relative-hidden;
    background: url(../images/background/webinars-bg-1440.svg) 50% 135px
      no-repeat;
    background-size: $width-laptop;
    @media (width > 1440px) {
      background: url(../images/background/webinars-bg-4k.svg) 0% 147px
        no-repeat;
      background-size: 3840px;
    }
    @media (width < $width-tablet) {
      background: url(../images/background/webinars-bg-768.svg)
        calc(50% - -107px) 106px no-repeat;
      background-size: 1568px;
    }
    @media (width < $width-smartpthone) {
      background-image: none;
    }
  }
  &__bkg-black {
    position: absolute;
    background-color: #1b1f21;
    margin: -145px 0 0 -380px;
    z-index: -10;
    @include width-heigth($w: 150vw, $h: 860px);
    transform: perspective(160px) rotateY(-1deg);
    @media (width > $width-laptop) {
      margin-top: -150px;
    }
    @media (width < $width-tablet) {
      height: 1060px;
      margin: -110px 0 0 -150px;
    }
    @media (width < $width-smartpthone) {
      height: 1550px;
    }
  }
  &__runnig-string-box {
    overflow: hidden;
    height: 372px;
    @media (width > $width-laptop) {
      height: 425px;
    }
    @media (width < $width-tablet) {
      height: 358px;
    }
    @media (width < $width-smartpthone) {
      height: 228px;
    }
  }
  &__runnig-string {
    background-color: #ffad20;
    width: 3250px;
    transform: rotate(-3deg);
    margin: calc(9vw + 1vh - 32px) 0 0 -10px;
    @media (width > $width-laptop) {
      margin: calc(9vw + 1vh - 30px) 0 0 -10px;
    }
    @media (width < $width-tablet) {
      padding: 12px 0 10px;
      margin-top: calc(17vw + 1vh - 2px);
      transform: rotate(-3deg);
      width: 2150px;
    }
    @media (width < $width-smartpthone) {
      margin-top: calc(9vw + 1vh - 46px);
      transform: rotate(-4deg);
    }
  }
  &__runnig-string_bottom {
    transform: rotate(2deg);
    margin: 46px 0 119px -10px;
    background-color: $coral-dark;
    @media (width > $width-laptop) {
      margin: 4px 0 106px -10px;
    }
    @media (width < $width-tablet) {
      transform: rotate(3deg);
      width: 2150px;
      margin: 45px 0 107px -10px;
    }
    @media (width < $width-smartpthone) {
      transform: rotate(4deg);
      margin: 70px 0 auto -10px;
    }
  }
  &__container {
    margin-top: -14px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    @media (width < $width-tablet) {
      margin-top: -30px;
      padding-bottom: 96px;
      flex-wrap: wrap;
      row-gap: 24px;
    }
    @media (width < $width-smartpthone) {
      margin-top: -30px;
      padding-bottom: 70px;
      position: relative;
      row-gap: 16px;
    }
  }
  &__container:last-child {
    @media (width < $width-smartpthone) {
      padding-bottom: 212px;
    }
  }

  &__title {
    @include AchivoH2($white);
    margin-top: 4px;
    @media (width < $width-tablet) {
      @include AchivoH5($white);
      font-size: 28px;
      width: 340px;
      margin-top: 24px;
    }
    @media (width < $width-smartpthone) {
      width: 308px;
      line-height: 120%;
      margin-top: 7px;
    }
  }
  &__btn {
    @include button-styles(
      $bd-color: $violet-dark,
      $bd-rad: 30px,
      $pad: 15px 61px,
      $bg-color: $violet-dark
    );
    @include Nunito18B($white);
    margin-left: 4px;
    @media (width < $width-tablet) {
      margin-left: 4px;
      margin-top: 9px;
    }
    @media (width < $width-smartpthone) {
      position: absolute;
      width: 99.5%;
      top: 1279px;
      margin-left: 1px;
      z-index: 1;
    }
  }
  &__btn:hover,
  &__btn:active {
    background-color: $black;
    border: 2px solid $black;
    outline: none;
    cursor: pointer;
  }
  &__btn:focus-visible {
    outline: none;
    border: 2px solid $black;
  }
  &__btn:disabled {
    opacity: 0.6;
  }
  &__btn:focus {
    border: 2px solid $white;
    outline: none;
  }

  &__card {
    border-radius: 32px;
    padding: 32px;
    @include width-heigth($w: 376px, $h: 432px);
    @include Nunito15M-SLS($white);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    @media (width < $width-tablet) {
      justify-content: flex-start;
      padding: 24px;
      @include width-heigth($w: 340px, $h: 400px);
    }
    @media (width < $width-smartpthone) {
      justify-content: space-between;
      @include width-heigth($w: 304px, $h: fit-content);
    }
  }
  &__card:nth-child(1) {
    background: $turquoise-dark url(../images/background/card1-bg-376.svg) 101%
      101% no-repeat;
    @media (width < $width-tablet) {
      background-position: 79px 82px;
    }
    @media (width < $width-smartpthone) {
      background-position: 61px 30px;
    }
  }
  &__card:nth-child(1) > p {
    @media (width < $width-tablet) {
      width: 200px;
      min-height: 199px;
    }
    @media (width < $width-smartpthone) {
      min-height: auto;
    }
  }
  &__card:nth-child(2) {
    background: $coral-dark url(../images/background/card2-bg-376.svg) 100% 100%
      no-repeat;
    @media (width < $width-tablet) {
      background-image: url(../images/background/card2-bg-340.svg);
    }
    @media (width < $width-smartpthone) {
      background-position: 62px -6px;
    }
  }
  &__card:nth-child(3) {
    background: $tangerine-dark url(../images/background/card3-bg-376.svg) 0%
      8px no-repeat;
    @media (width < $width-tablet) {
      background-image: url(../images/background/card3-bg-704.svg);
      background-position: 24% 1px;
      flex-basis: 100%;
      height: 272px;
    }
    @media (width < $width-smartpthone) {
      background-image: url(../images/background/card1-bg-376.svg);
      background-position: 61px 50px;
      height: 370px;
    }
  }
  &__card-header {
    min-height: 104px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    @media (width < $width-tablet) {
      min-height: 74px;
    }
    @media (width < $width-smartpthone) {
      min-height: 79px;
    }
  }
  &__avatar-box {
    padding-top: 12px;
    overflow: hidden;
  }
  &__avatar {
    width: 64px;
    @include mask($url: $webinars-mask, $pos: top);
    background-color: $white;
    margin-top: -10px;
    @media (width < $width-tablet) {
      margin-top: -12px;
    }
  }
  &__user {
    width: 200px;
    @media (width < $width-smartpthone) {
      width: 170px;
    }
  }
  &__user_big {
    @media (width < $width-tablet) {
      width: 550px;
    }
    @media (width < $width-smartpthone) {
      width: 170px;
    }
  }
  &__user-name {
    @include AchivoH5($white);
    padding: 7px 0 4px;
    @media (width < $width-tablet) {
      padding-top: 4px;
    }
    @media (width < $width-smartpthone) {
      font-size: 22px;
      padding-top: 6px;
    }
  }
  &__user-position {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__content {
    @include AchivoH4($white);
    min-height: 160px;
    margin-top: -18px;
    @media (width < $width-tablet) {
      @include AchivoH5($white);
      font-size: 24px;
      margin-top: 6px;
    }
    @media (width < $width-smartpthone) {
      min-height: auto;
      margin-top: 0;
    }
  }
  &__content_big {
    min-height: 160px;
    @media (width < $width-tablet) {
      min-height: 90px;
      margin-top: 6px;
    }
    @media (width < $width-smartpthone) {
      min-height: 118px;
    }
  }
  &__card-span {
    padding-bottom: 12px;
  }
  &__card-span:first-child {
    padding-right: 27px;
  }
  &__card-data {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (width < $width-tablet) {
      flex-basis: 24%;
    }

    @media (width < $width-smartpthone) {
      height: auto;
      padding-top: 32px;
      flex-basis: auto;
    }
  }
  &__date-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 12px;
    @media (width < $width-smartpthone) {
      width: 304px;
      justify-content: flex-start;
      margin-top: 0;
    }
  }
  &__date-box_big {
    justify-content: space-between;
    padding-top: 10px;
    @media (width < $width-smartpthone) {
      width: 256px;
    }
  }
  &__date-box_big_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__span {
    padding-left: 8px;
  }
  &__span_big {
    @media (width < $width-tablet) {
      padding-left: 9px;
    }
    @media (width < $width-smartpthone) {
      display: inline-block;
      max-width: 139px;
    }
  }
  &__span:not(:last-child) {
    width: 200px;
    padding-right: 22px;
    @media (width < $width-tablet) {
      width: 150px;
      padding-right: 52px;
    }
    @media (width < $width-smartpthone) {
      padding-right: 15px;
      width: 151px;
    }
  }

  &__icon {
    @include width-heigth($w: 17px, $h: 17px);
    fill: $white;
    margin-top: 4px;
    @media (width < $width-smartpthone) {
      margin-top: 2px;
    }
  }
  &__icon:first-child {
    @media (width < $width-tablet) {
      order: -1;
    }
    @media (width < $width-smartpthone) {
      order: 0;
    }
  }
}
