@import "vars-fonts-mixins";
@import "reset";

body {
  font-family: "ArchivoBlack", sans-serif;
  // font-family: "Archivo Black", sans-serif;
}
a {
  text-decoration: none;
  color: $black;
  outline: none;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  outline: none;
}

details summary::marker {
  font-size: 0%;
}

.none {
  display: none;
}

.wrapper {
  padding-top: 74px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (width < $width-tablet) {
    padding-top: 118px;
  }
  @media (width < $width-smartpthone) {
    padding-top: 114px;
  }
}
.wrap {
  width: calc($width-tablet - 72px);
  padding: 0 36px;
  margin: 0 auto;

  @media (width < $width-tablet) {
    padding: 0 32px;
    width: calc(768px - 64px);
  }
  @media (width < $width-smartpthone) {
    width: calc(320px - 16px);
    padding: 0 8px;
  }
}
