.container {
   display: flex;

   .content {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: calc(100vw - var(--nav-menu-width));

      padding: 2rem;

      .filters {
         display: flex;
         justify-content: space-around;
         gap: 1rem;
         margin-bottom: 1.2rem;

         & > * {
            flex-basis: 50%;

            input {
               width: 100%;
            }
         }
      }

      .archive_checkbox {
         margin: 1rem 0;
         display: flex;
         gap: 0.5rem;

         input {
            cursor: pointer;
         }
      }

      h4 {
         font-size: 18px;
         font-weight: 600;
         margin-top: 0.4rem;
      }

      .projects,
      .favorite_projects {
         margin: 1rem 0;
         display: flex;
         flex-wrap: wrap;
         gap: 1rem;

         /* grid-template-columns: repeat(3, minmax(15%, 400px)); */
         /* grid-template-columns: repeat(3, 1fr); */
         display: grid;
         grid-template-columns: repeat(var(--columns-count), 1fr);
      }

      .favorite_projects {
         & > * {
            height: 151px !important;
         }
      }

      hr {
         height: 1px;
         /* Neutral 300: */
         background-color: #eeeeee;
         margin: 2rem 0;
      }
   }

   input {
      background-color: var(--bread-crumbs-back);

      border-radius: 0.5rem;
      font-size: 14px;
      padding: 0.6rem 0;
      padding-left: 1.2rem;
      color: #333333;

      &::placeholder {
         color: var(--bread-crumbs-text);
      }
   }

   h1 {
      font-size: 32px;
      margin: 2rem 0;
      font-weight: bold;
   }

   h6, label {
      /* font-size: 14px; */
      color: var(--bread-crumbs-text);
      margin-bottom: 0.5rem;
      display: block;
      cursor: auto;
   }
}
