.form__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
  width: 576px;
}
@media (width < 1280px) {
  .form__box {
    flex-direction: column;
    padding-top: 10px;
    width: 368px;
  }
}
@media (width < 768px) {
  .form__box {
    padding-top: 8px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.form__box:first-child {
  position: relative;
}
@media (width < 768px) {
  .form__box:first-child {
    padding-top: 80px;
  }
}
@media (width < 1280px) {
  .form__box:last-child {
    padding-top: 10px;
  }
}
.form__submitted {
  position: relative;
  height: 120px;
  padding-top: 2px;
  animation: text-focus-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media (width < 1280px) {
  .form__submitted {
    height: 146px;
    padding-top: 11px;
  }
}
@media (width < 768px) {
  .form__submitted {
    padding: 75px 0 30px;
  }
}
.form__submitted-text {
  color: #57acbc;
  font-family: "Nunito-Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  padding: 10px 25px;
  background-color: #fcfaf9;
  border-radius: 88px;
  margin-top: 72px;
  width: 527px;
}
@media (width < 1280px) {
  .form__submitted-text {
    width: 160px;
    margin-top: 33px;
    padding: 27px 96px 28px 24px;
    border-radius: 24px;
  }
}
@media (width < 768px) {
  .form__submitted-text {
    padding: 30px 81px 28px 16px;
  }
}
.form__submitted-img {
  position: absolute;
  top: 13px;
  bottom: auto;
  left: auto;
  right: 18%;
}
@media (width < 1280px) {
  .form__submitted-img {
    position: absolute;
    top: 11px;
    bottom: auto;
    left: auto;
    right: 63px;
    width: 105px;
  }
}
@media (width < 768px) {
  .form__submitted-img {
    position: absolute;
    top: 76px;
    bottom: auto;
    left: auto;
    right: -17px;
  }
}
.form__agree + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__agree + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #fcfaf9;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 16px 16px 0;
}
@media (width < 1280px) {
  .form__agree + label::before {
    margin-bottom: 10px;
  }
}
@media (width < 768px) {
  .form__agree + label::before {
    margin-bottom: 31px;
  }
}
.form__agree:checked + label::before {
  background: #fcfaf9 url(/images/icons/v.svg) center center no-repeat;
}
.form__agree:hover + label::before {
  border-color: #fcfaf9;
  background-color: rgba(252, 250, 249, 0.5647058824);
}
.form__agree:focus + label::before {
  border-color: #1b1f21;
}
.form__agree:disabled + label::before {
  border-color: rgba(252, 250, 249, 0.5647058824);
  background-color: rgba(252, 250, 249, 0.5647058824);
  background-image: none;
}
.form__chbox-text {
  color: #fcfaf9;
  font-family: "Nunito-Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  width: 536px;
}
@media (width < 1280px) {
  .form__chbox-text {
    color: #fcfaf9;
    font-family: "Nunito-Regular";
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    width: 320px;
  }
}
@media (width < 768px) {
  .form__chbox-text {
    width: 220px;
  }
}
.form__chbox-text_underline {
  color: #fcfaf9;
  text-decoration: underline;
}
@media (width < 1280px) {
  .form__chbox-text_underline {
    text-decoration: none;
  }
}
.form__chbox-text_underline:hover {
  cursor: pointer;
  color: #fcfaf9;
}
.form__email {
  width: 280px;
  border: 2px solid #fcfaf9;
  border-radius: 40px;
  padding: 9px 24px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.3s;
  color: #1b1f21;
  font-family: "Nunito-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
@media (width < 768px) {
  .form__email {
    width: 256px;
  }
}
.form__email::-moz-placeholder {
  color: #fcfaf9;
}
.form__email::placeholder {
  color: #fcfaf9;
}
.form__email:hover {
  border-color: #fff;
}
.form__email_invalid {
  position: relative;
  border-color: #ffad20;
}
.form__email_invalid::after {
  content: url(/images/icons/form-invalid.svg);
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  z-index: 1;
}
.form__email_valid {
  border-color: #bedb39;
}
.form__email_invalid-img {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 27px;
  left: 42%;
  background: #ffad20 url(/images/icons/form-invalid.svg);
}
@media (width < 1210px) {
  .form__email_invalid-img {
    top: 22px;
    left: auto;
    right: 102px;
  }
}
@media (width < 768px) {
  .form__email_invalid-img {
    top: 93px;
    right: 15px;
  }
}
.form__email_valid-img {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 27px;
  left: 42%;
  background: #bedb39 url(/images/icons/form-valid.svg);
}
@media (width < 1210px) {
  .form__email_valid-img {
    top: 22px;
    left: auto;
    right: 102px;
  }
}
@media (width < 768px) {
  .form__email_valid-img {
    top: 93px;
    right: 15px;
  }
}
.form__email:focus {
  outline: none;
  border-color: #1b1f21;
}
.form__button {
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 8px 113px;
  background-color: #fe6d44;
  box-sizing: border-box;
  transition: all 0.3s;
  color: #fcfaf9;
  font-family: "Nunito-Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  width: 280px;
}
@media (width < 1280px) {
  .form__button {
    margin: 15px 0 6px;
  }
}
@media (width < 768px) {
  .form__button {
    width: 256px;
    padding: 8px 100px;
    margin: 8px 0 0px;
  }
}
@media (width >= 768px) {
  .form__button:hover {
    background-color: #1b1f21;
  }
}
@media (width < 768px) {
  .form__button:active {
    background-color: #1b1f21;
  }
}
.form__button:disabled {
  opacity: 0.6;
}
.form__button:focus {
  border: 2px solid #1b1f21;
}

.footer__email {
  width: 280px;
  display: block;
  color: #fcfaf9;
  font-family: "Nunito-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  border: 2px solid #fcfaf9;
  border-radius: 40px;
  padding: 9px 24px;
  background-color: transparent;
  box-sizing: border-box;
  transition: all 0.3s;
  margin-bottom: 8px;
}
@media (width < 1280px) {
  .footer__email {
    margin-bottom: 17px;
  }
}
@media (width < 768px) {
  .footer__email {
    width: 100%;
    margin-bottom: 8px;
  }
}
.footer__email::-moz-placeholder {
  color: #fcfaf9;
}
.footer__email::placeholder {
  color: #fcfaf9;
}
.footer__email:focus {
  outline: none;
  border-color: #1b1f21;
}
.footer__button {
  display: block;
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 8px 49px;
  background-color: #9853f4;
  box-sizing: border-box;
  transition: all 0.3s;
  width: 281px;
  color: #fcfaf9;
  font-family: "Nunito-Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}
@media (width < 768px) {
  .footer__button {
    width: 100%;
  }
}
@media (width >= 768px) {
  .footer__button:hover {
    background-color: #da3369;
  }
}
@media (width < 768px) {
  .footer__button:active {
    background-color: #da3369;
  }
}
.footer__button:disabled {
  opacity: 0.6;
  background-color: #9853f4;
}
.footer__button:focus {
  border: 2px solid #fcfaf9;
}/*# sourceMappingURL=form.css.map */