.main {
  padding-top: 78px;
  background: url(/images/background/bg-main-1440.svg) calc(50% - 52px) 51px
    no-repeat;
  background-size: 1642px;
  @include vars-mixins.relative-hidden;
  @media screen and (prefers-color-scheme: dark) {
    background-image: vars-mixins.$main-bkg-dark-1440;
  }
  @media (width < vars-mixins.$width-tablet) {
    padding-top: 64px;
    background: url(/images/background/bg-main-768.svg) calc(50% - -164px)
      103.5% no-repeat;
    background-size: 1763px;
  }
  @media (width < vars-mixins.$width-tablet) and (prefers-color-scheme: dark) {
    background-image: vars-mixins.$main-bkg-dark-768;
  }
  @media (width < vars-mixins.$width-smartpthone) {
    padding-top: 36px;
    background: url(/images/background/bg-main-320.svg) calc(50% + -40px) 30.5%
      no-repeat;
    background-size: 1283px;
  }
  @media (width < vars-mixins.$width-smartpthone) and (prefers-color-scheme: dark) {
    background-image: vars-mixins.$main-bkg-dark-320;
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    @media (width < vars-mixins.$width-tablet) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      gap: 24px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      gap: 18px;
    }
  }
  &__box {
    width: 688px;
    @media (width < vars-mixins.$width-tablet) {
      width: 704px;
      display: flex;
      flex-wrap: wrap;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      width: 304px;
      justify-content: space-between;
    }
  }
  &__title {
    @include vars-mixins.AchivoH3(vars-mixins.$black);
    padding-bottom: 18px;
    font-weight: 800;
    line-height: 119%;
    @media (width < vars-mixins.$width-tablet) {
      width: 461px;
      @include vars-mixins.AchivoH5(vars-mixins.$black);
      margin-top: -2px;
      padding-bottom: 8px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      padding-bottom: 16px;
      width: 308px;
      margin-top: -6px;
    }
  }
  &__text {
    @include vars-mixins.Nunito18R(vars-mixins.$gray70);
    padding-bottom: 16px;
    width: 480px;
    @media (width < vars-mixins.$width-tablet) {
      width: 455px;
      padding-bottom: 54px;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      width: 304px;
      padding-bottom: 16px;
    }
    @media screen and (prefers-color-scheme: dark) {
      color: vars-mixins.$gray35;
    }
  }
  &__btn {
    @include vars-mixins.button-styles(
      $bd-color: vars-mixins.$black,
      $bd-rad: 30px,
      $pad: 8px 49px,
      $bg-color: vars-mixins.$grass
    );
    margin-left: 4px;
    @include vars-mixins.Nunito18M(vars-mixins.$black);
    box-shadow: 0 0 0 5px vars-mixins.$grass;
    @media (width < vars-mixins.$width-tablet) {
      padding: 8px 49px;
      font-weight: 600;
    }
    @media (width < vars-mixins.$width-smartpthone) {
      padding: 8px 48px;
      width: 96%;
      margin-left: 6px;
    }
  }
  &__btn:hover,
  &__btn:active {
    background-color: vars-mixins.$black;
    color: vars-mixins.$white;
    box-shadow: 0 0 0 5px vars-mixins.$black;
    outline: none;
  }
  &__btn:focus-visible {
    outline: none;
    border: 1.5px solid vars-mixins.$black;
  }
  &__btn:disabled {
    opacity: 0.6;
  }
  &__btn:focus {
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #1b1f21;
    outline: none;
    padding: 8px 48px;
  }
}
