.articles {
  padding-top: 15px;
  position: relative;
  overflow: hidden;
  background: url(/images/background/articles-bg-1440.svg) calc(50% + 119px) -105px no-repeat;
  background-size: 3016px;
}
@media (width < 1280px) {
  .articles {
    background: url(/images/background/articles-bg-768.svg) calc(50% - 297px) 161px no-repeat;
    background-size: 2543px;
  }
}
@media (width < 768px) {
  .articles {
    background: url(/images/background/articles-bg-320.svg) calc(50% + 15px) -183px no-repeat;
    background-size: 965px;
  }
}
.articles__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 136px;
}
@media (width < 1280px) {
  .articles__container {
    row-gap: 82px;
  }
}
@media (width < 768px) {
  .articles__container {
    padding-bottom: 22px;
  }
}
.articles__card {
  flex-basis: 45%;
}
@media (width < 1280px) {
  .articles__card {
    min-height: 599px;
  }
}
.articles__card:nth-child(3) {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}
.articles__card:nth-child(4), .articles__card:nth-child(5) {
  margin-top: -37px;
}
@media (width < 1280px) {
  .articles__card:nth-child(4), .articles__card:nth-child(5) {
    margin-top: -42px;
  }
}
@media (width < 768px) {
  .articles__card:nth-child(4), .articles__card:nth-child(5) {
    margin-top: 0px;
    padding-bottom: 0px;
  }
}
.articles__card_big-left {
  flex-basis: 31.15%;
  margin-right: 19px;
}
@media (width < 1280px) {
  .articles__card_big-left {
    flex-basis: 34.6%;
    margin: -11px 0 0 0;
  }
}
@media (width < 768px) {
  .articles__card_big-left {
    flex-basis: 100%;
    height: 90px;
    position: relative;
  }
}
@media (width < 1280px) {
  .articles__card_big-right {
    width: 455px;
    margin-top: 28px;
  }
}
@media (width < 768px) {
  .articles__card_big-right {
    width: 308px;
    margin-top: -10px;
  }
}
.articles__card:hover .articles__stiker {
  transform: rotate(180deg);
}
.articles__title {
  color: #1b1f21;
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}
@media (width < 1280px) {
  .articles__title {
    width: 340px;
    font-size: 24px;
    font-weight: 500;
    margin-top: -4px;
  }
}
@media (width < 768px) {
  .articles__title {
    width: 308px;
    line-height: 120%;
    margin-top: -2px;
  }
}
.articles__title_big {
  font-size: 36px;
  width: 792px;
  padding-top: 47px;
}
@media (width < 1280px) {
  .articles__title_big {
    width: 460px;
    font-weight: 800;
    font-size: 26px;
    padding-top: 0;
    margin-top: -2px;
  }
}
@media (width < 768px) {
  .articles__title_big {
    width: 290px;
    font-size: 24px;
    margin-top: 2px;
  }
}
.articles__text {
  color: #1b1f21;
  font-family: "Nunito-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  padding-top: 15px;
  width: 500px;
}
@media (width < 1280px) {
  .articles__text {
    width: 340px;
    padding-top: 15px;
  }
}
@media (width < 768px) {
  .articles__text {
    width: 308px;
    padding-top: 16px;
  }
}
.articles__text_big {
  width: 678px;
  padding-top: 9px;
}
@media (width < 1280px) {
  .articles__text_big {
    width: 460px;
    padding: 8px 0 40px;
  }
}
@media (width < 768px) {
  .articles__text_big {
    width: 308px;
    padding-top: 16px;
  }
}/*# sourceMappingURL=articles.css.map */