/* Общий стиль для календаря */
.custom-calendar {
  .react-calendar {
    border: none; // Убираем рамку
    width: 300px; // Устанавливаем ширину
    max-width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;

    // Навигация
    &__navigation {
      button {
        background-color: rebeccapurple;
      }

      &__next2-button {
        display: none; // Убираем стрелки навигации
      }
    }

    // Ячейки календаря (дни)
    &__tile {
      height: 40px; // Устанавливаем высоту
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      border-radius: 4px;
      transition: background-color 0.3s;

      &--now {
        background: #bfa637;
        color: white;
      }

      &--active {
        background: #2196f3;
        color: white;
      }
    }

    // Отступы между строками календаря
    &__month-view {
      &__days__day {
        margin: 2px;
      }
    }
  }
}

button .react-calendar__navigation button {
  min-width: 44px;
  background-color: rebeccapurple;
}
// Навигация
.react-calendar__navigation__next2-button {
  display: none; // Убираем стрелки навигации
}
