.form {
  @include width-heigth($w: 100%, $h: 518px);
  background: $turquoise-dark url(../images/background/form-bg-1440.svg)
    calc(50% - 22px) -41px no-repeat;
  background-size: 988px;
  @include mask($url: $form-mask-laptop);
  margin-bottom: 125px;
  overflow: hidden;
  @media (width < $width-tablet) {
    background: $turquoise-dark url(../images/background/form-bg-768.svg)
      calc(50% - -2px) 2px no-repeat;
    background-size: 704px;
    mask-image: $form-mask-tablet;
    height: auto;
    margin-bottom: 96px;
  }
  @media (width < $width-smartpthone) {
    background: $turquoise-dark url(../images/background/form-bg-320.svg) 50% -18%
      no-repeat;
    background-size: 304px;
    height: 1106px;
    @include mask($url: $form-mask-smartphone, $pos: center -27px);
    margin-bottom: 86px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @media (width < $width-smartpthone) {
      flex-wrap: wrap;
    }
  }
  &__content {
    flex-basis: 69.5%;
    box-sizing: border-box;
    padding: 64px 64px 64px 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (width < $width-tablet) {
      padding: 40px 24px;
      width: 368px;
      flex-basis: 59%;
    }
    @media (width < $width-smartpthone) {
      width: 304px;
      padding: 68px 24px 80px;
    }
  }
  &__letter {
    flex-basis: 37%;
    @include width-heigth($w: 418px, $h: 518px);
    background: url(../images/background/form-bg-letter-1440.svg) no-repeat;
    mask-image: $form-mask-laptop;
    position: relative;
    @media (width < $width-tablet) {
      @include width-heigth($w: 400px, $h: 498px);
      background-image: url(../images/background/form-bg-letter-768.svg);
      mask-image: $form-letter-mask;
      flex-basis: 41%;
    }
    @media (width < $width-smartpthone) {
      background-image: url(../images/background/form-bg-letter-320.svg);
      mask-image: none;
      flex-basis: 100%;
    }
  }
  &__letter-img {
    @include position($t: 39%, $l: 66px);
    @media (width < $width-tablet) {
      @include position($t: 49%, $l: 38px);
      @include width-heigth($w: 209px, $h: 162px);
    }
    @media (width < $width-smartpthone) {
      @include position($t: 34%, $l: 46px);
    }
  }
  &__letter::after {
    content: "";
    background: url(../images/icons/letter-after.svg) 50% 50% no-repeat;
    border-radius: 100%;
    @include position($t: 35%, $r: 53px);
    @include width-heigth($w: 69px, $h: 70px);
    @media (width < $width-tablet) {
      background-size: 100% 100%;
      @include position($t: 46%, $r: 38px);
      @include width-heigth($w: 49px, $h: 48px);
    }
    @media (width < $width-smartpthone) {
      @include position($t: 31%, $r: 45px);
    }
  }
  &__title {
    @include AchivoH3($white);
    padding-bottom: 8px;
    @media (width < $width-tablet) {
      @include AchivoH5($white);
    }
    @media (width < $width-smartpthone) {
      width: 227px;
    }
  }
  &__text {
    @include Nunito18R($white);
    width: 584px;
    @media (width < $width-tablet) {
      width: 360px;
    }
    @media (width < $width-smartpthone) {
      width: 260px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    width: 576px;
    @media (width < $width-tablet) {
      flex-direction: column;
      padding-top: 10px;
      width: 368px;
    }
    @media (width < $width-smartpthone) {
      padding-top: 8px;
      width: fit-content;
    }
  }
  &__box:first-child {
    position: relative;
    @media (width < $width-smartpthone) {
      padding-top: 80px;
    }
  }
  &__box:last-child {
    @media (width < $width-tablet) {
      padding-top: 10px;
    }
  }
  &__submitted {
    position: relative;
    height: 120px;
    padding-top: 2px;
    animation: text-focus-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    @media (width < $width-tablet) {
      height: 146px;
      padding-top: 11px;
    }
    @media (width < $width-smartpthone) {
      padding: 75px 0 30px;
    }
  }
  &__submitted-text {
    @include Nunito18B($turquoise-dark);
    padding: 10px 25px;
    background-color: #fcfaf9;
    border-radius: 88px;
    margin-top: 72px;
    width: 527px;
    @media (width < $width-tablet) {
      width: 160px;
      margin-top: 33px;
      padding: 27px 96px 28px 24px;
      border-radius: 24px;
    }
    @media (width < $width-smartpthone) {
      padding: 30px 81px 28px 16px;
    }
  }
  &__submitted-img {
    @include position($t: 13px, $r: 18%);
    @media (width < $width-tablet) {
      @include position($t: 11px, $r: 63px);
      width: 105px;
    }
    @media (width < $width-smartpthone) {
      @include position($t: 76px, $r: -17px);
    }
  }
  &__agree + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &__agree + label::before {
    content: "";
    display: inline-block;
    @include width-heigth($w: 24px, $h: 24px);
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $white;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 16px 16px 0;
    @media (width < $width-tablet) {
      margin-bottom: 10px;
    }
    @media (width < $width-smartpthone) {
      margin-bottom: 31px;
    }
  }
  &__agree:checked + label::before {
    background: $white url(../images/icons/v.svg) center center no-repeat;
  }

  &__agree:hover + label::before {
    border-color: $white;
    background-color: $whiteTR90;
  }

  &__agree:focus + label::before {
    border-color: $black;
  }
  &__agree:disabled + label::before {
    border-color: $whiteTR90;
    background-color: $whiteTR90;
    background-image: none;
  }
  &__chbox-text {
    @include Nunito15R-SLS($white);
    width: 536px;
    @media (width <$width-tablet) {
      @include Nunito13R-SLS($white);
      width: 320px;
    }
    @media (width < $width-smartpthone) {
      width: 220px;
    }
  }
  &__chbox-text_underline {
    text-decoration: underline;
    @media (width <$width-tablet) {
      text-decoration: none;
    }
  }
  &__email {
    width: 280px;
    @include button-styles(
      $bd-color: $white,
      $bd-rad: 40px,
      $pad: 9px 24px,
      $bg-color: transparent
    );
    @include Nunito18R;
    @media (width < $width-smartpthone) {
      width: 256px;
    }
  }
  &__email::placeholder {
    color: $white;
  }
  &__email:hover {
    border-color: #fff;
  }
  &__email_invalid {
    border-color: $tangerine;
  }
  &__email_valid {
    border-color: $grass;
  }
  &__email_invalid-img {
    @include ValidationImg;
    background: $tangerine url(../images/icons/form-invalid.svg);
  }
  &__email_valid-img {
    @include ValidationImg;
    background: $grass url(../images/icons/form-valid.svg);
  }

  &__email:focus {
    outline: none;
    border-color: $black;
  }
  &__button {
    @include button-styles(
      $bd-color: transparent,
      $bd-rad: 40px,
      $pad: 8px 113px,
      $bg-color: $coral-dark
    );
    @include Nunito18B($white);
    width: 280px;
    @media (width <$width-tablet) {
      margin: 15px 0 6px;
    }
    @media (width < $width-smartpthone) {
      width: 256px;
      padding: 8px 100px;
      margin: 8px 0 0px;
    }
  }
  &__button:hover {
    @media (width >= $width-smartpthone) {
      background-color: $black;
    }
  }
  &__button:active {
    @media (width < $width-smartpthone) {
      background-color: $black;
    }
  }
  &__button:disabled {
    opacity: 0.6;
  }
  &__button:focus {
    border: 2px solid $black;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
