.main {
  &__bkg {
    padding-top: 80px;
    position: relative;
    overflow: hidden;
    @media (width < 1280px) {
      padding-top: 64px;
    }
    @media (width < 768px) {
      padding-top: 36px;
    }
  }
  &__bkg-img {
    position: absolute;
    width: 1623px;
    height: 993.5px;
    top: 70px;
    left: calc(50% - 811px);
    z-index: -10;
    transform: rotate(170.7deg);
    @media (width < 1280px) {
      width: 1752px;
      height: 1072px;
      transform: rotate(-10.5deg);
      top: -210px;
      left: calc(50% - 735px);
    }
    @media (width < 768px) {
      height: 900px;
      transform: rotate(137deg);
      top: 230px;
      left: calc(50% - 890px);
    }
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    @media (width < 1280px) {
      flex-direction: column;
      align-items: center;
      // padding-bottom: 53.5px;
      padding-bottom: 0;
      gap: 24px;
    }
    @media (width < 768px) {
      gap: 18px;
    }
  }
  &__pic-box {
    width: 480px;
    height: 560px;
    overflow: hidden;
    position: relative;
    @media (width < 1280px) {
      height: 320px;
      width: 720px;
    }
    @media (width < 768px) {
      height: 352px;
      width: 304px;
    }
  }
  &__pic {
    margin-top: -160px;
    width: 480px;
    mask-image: url(/images/masks/pic1.svg);
    mask-position: bottom;
    mask-repeat: no-repeat;
    @media (width < 1280px) {
      mask-image: url(/images/masks/pic1-v2.svg);
      margin-top: -380px;
      width: 720px;
      mask-position: center;
    }
    @media (width < 768px) {
      mask-image: url(/images/masks/pic1-v3.svg);
      width: 304px;
      margin-top: -52px;
    }
  }
  &__stiker {
    position: absolute;
    right: 0;
    transition: transform 0.9s;
    @media (width < 768px) {
      right: 8px;
      top: 8px;
      width: 104px;
    }
  }
  &__stiker:hover {
    transform: rotate(180deg);
  }
  &__box {
    width: 688px;
    @media (width < 1280px) {
      width: 704px;
      display: flex;
      flex-wrap: wrap;
    }
    @media (width < 768px) {
      width: 304px;
      justify-content: space-between;
    }
  }
  &__article-switchers {
    display: flex;
    justify-content: flex-start;
    padding-top: 46px;
    padding-bottom: 18px;
    @media (width < 1280px) {
      width: 220px;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-top: 0;
    }
    @media (width < 768px) {
      padding-bottom: 18px;
      width: 304px;
      justify-content: space-between;
    }
  }
  &__article-item:not(:last-child) {
    margin-right: 10px;
  }
  &__article-item {
    padding: 8px 0px;
    color: $grass;
    @include Nunito15M-SLS;
    @media (width < 1280px) {
      padding: 8px 0px;
    }
  }
  &__article-item_active {
    border-radius: 20px;
    padding: 8px 18px;
    background-color: $grass;
    color: $black;
    @media (width < 1280px) {
      margin-left: 80px;
    }
    @media (width < 768px) {
      margin-left: 0px;
    }
  }
  &__title {
    // @include AchivoH2;
    font-size: 46px;
    color: $black;
    padding-bottom: 16px;
    font-weight: 900;
    line-height: 120%;
    width: 800px;
    @media (width < 1280px) {
      width: 461px;
      font-size: 26px;
      color: $black;
      padding-bottom: 16px;
      font-weight: 900;
      line-height: 120%;
      // padding-top: 24px;
      padding-bottom: 8px;
    }
    @media (width < 1280px) {
      width: 304px;
      padding-bottom: 16px;
    }
  }
  &__text {
    @include Nunito18R;
    color: $gray70;
    padding-bottom: 16px;
    width: 480px;
    @media (width < 1280px) {
      width: 440px;
      padding-bottom: 48px;
    }
    @media (width < 768px) {
      width: 304px;
      padding-bottom: 16px;
    }
  }
  &__date-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 56px;
    @media (width < 1280px) {
      flex-wrap: wrap;
      width: 190px;
      justify-content: flex-end;
      margin-top: -302px;
      align-content: center;
    }
    @media (width < 768px) {
      width: 304px;
      justify-content: flex-start;
      margin-top: 0;
    }
  }
  &__span {
    @include Nunito15R-SLS;
    color: $gray35;
    padding-left: 8px;
    @media (width < 1280px) {
      padding-right: 9px;
    }
  }
  &__span:not(:last-child) {
    padding-right: 24px;
    @media (width < 1280px) {
      padding-right: 9px;
    }
    @media (width < 768px) {
      @media (width < 768px) {
        padding-right: 24px;
      }
    }
  }
  &__icon:first-child {
    @media (width < 1280px) {
      order: 2;
    }
    @media (width < 768px) {
      order: 0;
    }
  }
  &__btn {
    border: 1.5px solid $black;
    box-shadow: 0 0 0 5px $grass;
    border-radius: 30px;
    padding: 10px 50px;
    @include Nunito18M;
    color: $black;
    background-color: $grass;
    transition: all 0.3s;
    box-sizing: border-box;
    @media (width < 1280px) {
      margin-left: 37px;
    }
    @media (width < 1280px) {
      width: 100%;
      margin-left: 0;
    }
  }
  &__btn:hover,
  &__btn:active {
    background-color: $black;
    color: $white;
    box-shadow: 0 0 0 5px $black;
    outline: none;
  }
  &__btn:focus-visible {
    outline: none;
    border: 1.5px solid $black;
  }
  &__btn:disabled {
    opacity: 0.6;
  }
  &__btn:focus {
    border: 1.5px solid transparent;
    box-shadow: 0 0 0 2px $black;
    outline: none;
  }
  &__runnig-string {
    @include AchivoH1;
    color: $black;
    background-color: $turquoise;
    width: 3250px;
    transform: skewY(-4deg);
    margin-bottom: 224px;
    margin-top: 80px;
    @media (width < 1280px) {
      margin-top: 0;
    }
  }
}
