.main {
  padding-top: 80px;
  @include relative-hidden;
  background: url(/images/background/bg-main-1440.svg) calc(50% - 52px) 51px
    no-repeat;
  background-size: 1642px;
  @media (width < $width-tablet) {
    padding-top: 64px;
    background: url(/images/background/bg-main-768.svg) calc(50% - -164px)
      108.5% no-repeat;
    background-size: 1763px;
  }
  @media (width < $width-smartpthone) {
    padding-top: 36px;
    background: url(/images/background/bg-main-320.svg) calc(50% + -40px) 30.5%
      no-repeat;
    background-size: 1283px;
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    @media (width < $width-tablet) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      gap: 24px;
    }
    @media (width < $width-smartpthone) {
      gap: 18px;
    }
  }
  &__pic-box {
    @include width-heigth($w: 480px, $h: 560px);
    @include relative-hidden;
    @media (width < $width-tablet) {
      @include width-heigth($w: 720px, $h: 320px);
    }
    @media (width < $width-smartpthone) {
      @include width-heigth($w: 304px, $h: 352px);
    }
  }
  &__pic {
    margin-top: -133px;
    @include width-heigth($w: 480px, $h: 690px);
    mask-image: url(/images/masks/pic1.svg);
    mask-position: bottom;
    mask-repeat: no-repeat;
    @media (width < $width-tablet) {
      mask-image: url(/images/masks/pic1-v2.svg);
      margin-top: -380px;
      mask-position: center;
      @include width-heigth($w: 720px, $h: auto);
    }
    @media (width < $width-smartpthone) {
      mask-image: url(/images/masks/pic1-v3.svg);
      @include width-heigth($w: 304px, $h: 431px);
      margin-top: -80px;
      mask-position: bottom;
    }
  }
  &__stiker {
    position: absolute;
    right: 0;
    transition: transform 0.9s;
    @media (width < $width-tablet) {
      right: 16px;
      top: 8px;
      width: 120px;
    }
    @media (width < $width-smartpthone) {
      right: 8px;
      top: 8px;
      width: 104px;
    }
  }
  &__pic-box:hover &__stiker {
    transform: rotate(180deg);
  }
  &__box {
    width: 688px;
    @media (width < $width-tablet) {
      width: 704px;
      display: flex;
      flex-wrap: wrap;
    }
    @media (width < $width-smartpthone) {
      width: 304px;
      justify-content: space-between;
    }
  }
  &__article-switchers {
    display: flex;
    justify-content: flex-start;
    padding-top: 46px;
    padding-bottom: 17px;
    @media (width < $width-tablet) {
      flex-basis: 34.5%;
      justify-content: flex-end;
      align-self: flex-start;
      flex-wrap: wrap;
      padding-top: 0;
    }
    @media (width < $width-smartpthone) {
      flex-basis: 100%;
      padding-bottom: 18px;
      width: 304px;
      justify-content: flex-start;
    }
  }
  &__article-item {
    margin-right: 10px;
    padding: 8px 0px;
    color: $grass;
    @include Nunito15M-SLS;
    @media (width < $width-tablet) {
      padding: 8px 0px;
    }
  }
  &__article-item:last-child {
    margin-right: 24px;
    @media (width < $width-smartpthone) {
      margin-right: 0px;
    }
  }
  &__article-item_active {
    margin-right: 16px;
    border-radius: 20px;
    padding: 8px 18px;
    background-color: $grass;
    color: $black;
    @media (width < $width-tablet) {
      margin-left: 80px;
      margin-right: 24px;
      margin-bottom: 2px;
    }
    @media (width < $width-smartpthone) {
      margin-left: 0px;
      margin-right: 16px;
    }
  }
  &__title {
    @include AchivoH3;
    color: $black;
    padding-bottom: 16px;
    font-weight: 800;
    line-height: 119%;
    // width: 800px;
    @media (width < $width-tablet) {
      width: 461px;
      font-size: 26px;
      margin-top: -2px;
      color: $black;
      padding-bottom: 16px;
      font-weight: 500;
      line-height: 120%;
      // padding-top: 24px;
      padding-bottom: 8px;
    }
    @media (width < $width-smartpthone) {
      padding-bottom: 16px;
      width: 308px;
      margin-top: -6px;
    }
  }
  &__text {
    @include Nunito18R;
    color: $gray70;
    padding-bottom: 16px;
    width: 480px;
    @media (width < $width-tablet) {
      width: 455px;
      padding-bottom: 54px;
    }
    @media (width < $width-smartpthone) {
      width: 304px;
      padding-bottom: 16px;
    }
  }
  &__date-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 60px;
    @media (width < $width-tablet) {
      flex-wrap: wrap;
      flex-basis: 34.5%;
      justify-content: flex-end;
      margin-top: -298px;
      z-index: -1;
      align-content: center;
    }
    @media (width < $width-smartpthone) {
      flex-basis: 100%;
      width: 304px;
      justify-content: flex-start;
      margin-top: 0;
      padding-bottom: 60px;
    }
  }
  &__span {
    @include Nunito15R-SLS;
    color: $gray35;
    padding-left: 8px;
    margin-top: 2px;
    @media (width < $width-tablet) {
      padding-right: 9px;
      order: 1;
      margin-top: 7px;
    }
    @media (width < $width-smartpthone) {
      margin-top: 2px;
      padding-left: 6px;
    }
  }
  &__span:not(:last-child) {
    padding-right: 24px;
    @media (width < $width-tablet) {
      padding-right: 9px;
      padding-left: 60px;
      order: -1;
    }
    @media (width < $width-smartpthone) {
      padding-right: 23px;
      padding-left: 6px;
    }
  }
  &__icon {
    @include width-heigth($w: 17px, $h: 17px);
    fill: $gray35;
    margin-left: 1px;
    @media (width < $width-tablet) {
      order: 4;
      margin-right: 24px;
      margin-top: 6px;
    }

    @media (width < $width-smartpthone) {
      order: -1;
      margin-top: 2px;
      margin-right: 2px;
    }
  }
  &__icon:first-child {
    @media (width < $width-tablet) {
      order: 1;
    }
    @media (width < $width-smartpthone) {
      order: -1;
    }
  }
  &__btn {
    @include button-styles(
      $bd-color: $black,
      $bd-rad: 30px,
      $pad: 8px 49px,
      $bg-color: $grass
    );
    margin-left: 6px;
    @include Nunito18M;
    color: #1b1f21;
    box-shadow: 0 0 0 5px $grass;
    @media (width < $width-tablet) {
      margin-left: 4px;
      padding: 8px 48px;
      font-weight: 600;
    }
    @media (width < $width-smartpthone) {
      width: 96%;
      margin-left: 6px;
    }
  }
  &__btn:hover,
  &__btn:active {
    background-color: $black;
    color: $white;
    box-shadow: 0 0 0 5px $black;
    outline: none;
  }
  &__btn:focus-visible {
    outline: none;
    border: 1.5px solid $black;
  }
  &__btn:disabled {
    opacity: 0.6;
  }
  &__btn:focus {
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #1b1f21;
    outline: none;
    padding: 8px 48px;
  }
  &__runnig-string-box {
    overflow: hidden;
    height: 411px;
    @media (width < $width-tablet) {
      height: 300px;
    }
    @media (width < $width-smartpthone) {
      height: 266px;
    }
  }
  &__runnig-string {
    @include AchivoH1;
    color: $black;
    background-color: $turquoise;
    width: 3250px;
    transform: rotate(-4deg);
    padding-top: 10px;
    margin-top: calc(7vw + 1vh - 49px);
    margin-bottom: 0;
    margin-left: -10px;
    @media (width < $width-tablet) {
      transform: rotate(-3deg);
      width: 2150px;
      margin-top: calc(8vw + 1vh - 44px);
      padding-top: 9px;
      padding-bottom: 5px;
    }
    @media (width < $width-smartpthone) {
      margin-top: -10px;
      transform: rotate(-4deg);
      margin-top: calc(5vw - 40px);
    }
  }
}
