@font-face {
  font-family: "ArchivoBlack";
  src: local("ArchivoBlack-Regular"), local("ArchivoBlack-Regular"),
    url("ArchivoBlack-Regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-VariableFont_wght"), local("Nunito-VariableFont_wght"),
    url("Nunito-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Nunito Regular";
  src: local("Nunito-Regular"), local("Nunito-Regular"),
    url("Nunito-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Medium";
  src: local("Nunito-Medium"), local("Nunito-Medium"),
    url("Nunito-Medium.ttf") format("ttf");
  font-weight: 500;
}

$black: #1b1f21;
$gray80: #434343;
$gray70: #757778;
$gray35: #aeaeae;
$gray20: #d9d9d8;
$gray15: #e8e8e8;
$gray5: #f2f2f2;
// $gray5TR20: #f2f2f2; ???
$white: #fcfaf9;
// $whiteTR90: #fcfaf9;
$pale: #e8e8e8;
$pink: #ec95b1;
$sky: #a4ccfe;
$violet: #d0b0fa;
$grass: #bedb39;
$turquoise: #acd6de;
$tangerine: #ffad20;
$coral: #fe8968;
$mint: #aedfd6;
$marine: #90eecb;
$pink-dark: #da3369;
$sky-dark: #5fa5fd;
$violet-dark: #9853f4;
$grass-dark: #94ac23;
$turquoise-dark: #57acbc;
$tangerine-dark: #ef9700;
$coral-dark: #fe6d44;
$mint-dark: #57bcaa;
$marine-dark: #22c98b;
$achivo-black: "ArchivoBlack";
$nunito: "Nunito";
$nunito-regular: "Nunito Regular";
$nunito-medium: "Nunito Medium";

@mixin AchivoH1 {
  font-family: $achivo-black;
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  letter-spacing: 0.01em;
}
@mixin AchivoH2 {
  font-family: $achivo-black;
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
}
@mixin AchivoH3 {
  font-family: $achivo-black;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}
@mixin AchivoH4 {
  font-family: $achivo-black;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}
@mixin AchivoH5 {
  font-family: $achivo-black;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
}
@mixin Nunito21B {
  font-family: $nunito;
  font-weight: 700;
  font-size: 21px;
  line-height: 160%;
}
@mixin Nunito18R {
  font-family: $nunito-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
@mixin Nunito18M {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
@mixin Nunito18B {
  font-family: $nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}
@mixin Nunito15R-SLS {
  font-family: $nunito-regular;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}
@mixin Nunito15M-SLS {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
}
@mixin Nunito15B-SLS {
  font-family: $nunito;
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
}
@mixin Nunito13M-UP {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  text-transform: uppercase;
}
@mixin Nunito13B-UP {
  font-family: $nunito;
  font-weight: 700;
  font-size: 13px;
  line-height: 160%;
  text-transform: uppercase;
}
@mixin Nunito13R-SLS {
  font-family: $nunito-regular;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
}
@mixin Nunito13M-SLS {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
}
