@font-face {
  font-family: "ArchivoBlack";
  font-style: normal;
  font-weight: normal;
  src: local("ArchivoBlack-Regular"), local("ArchivoBlack-Regular"),
    url("/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Nunito-Regular"),
    url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Medium";
  font-style: normal;
  font-weight: medium;
  src: local("Nunito-Medium"),
    url("../fonts/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Nunito-Bold"), url("../fonts/Nunito-Bold.ttf") format("truetype");
}

$black: #1b1f21;
$gray80: #434343;
$gray70: #757778;
$gray35: #aeaeae;
$gray20: #d9d9d8;
$gray15: #e8e8e8;
$gray5: #f2f2f2;
$gray5TR20: #f2f2f220;
$white: #fcfaf9;
$whiteTR90: #fcfaf990;
$pale: #e8e8e8;
$pink: #ec95b1;
$sky: #a4ccfe;
$violet: #d0b0fa;
$grass: #bedb39;
$turquoise: #acd6de;
$tangerine: #ffad20;
$coral: #fe8968;
$mint: #aedfd6;
$marine: #90eecb;
$pink-dark: #da3369;
$sky-dark: #5fa5fd;
$violet-dark: #9853f4;
$grass-dark: #94ac23;
$turquoise-dark: #57acbc;
$tangerine-dark: #ef9700;
$coral-dark: #fe6d44;
$mint-dark: #57bcaa;
$marine-dark: #22c98b;
$nunito: "Nunito Medium";
$nunito-bold: "Nunito Bold";
$nunito-regular: "Nunito Regular";
$nunito-medium: "Nunito Medium";

@mixin AchivoH1 {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 58px;
  line-height: 120%;
  letter-spacing: 0.01em;
}
@mixin AchivoH2 {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
}
@mixin AchivoH3 {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}
@mixin AchivoH4 {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}
@mixin AchivoH5 {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
}
@mixin Nunito21B {
  font-family: $nunito-bold;
  font-weight: 700;
  font-size: 21px;
  line-height: 160%;
}
@mixin Nunito18R {
  font-family: $nunito-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
@mixin Nunito18M {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
@mixin Nunito18B {
  font-family: $nunito-bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
}
@mixin Nunito15R-SLS {
  font-family: $nunito-regular;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}
@mixin Nunito15M-SLS {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
}
@mixin Nunito15B-SLS {
  font-family: $nunito-bold;
  font-weight: 700;
  font-size: 15px;
  line-height: 140%;
}
@mixin Nunito13M-UP {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  text-transform: uppercase;
}
@mixin Nunito13B-UP {
  font-family: $nunito-bold;
  font-weight: 700;
  font-size: 13px;
  line-height: 160%;
  text-transform: uppercase;
}
@mixin Nunito13R-SLS {
  font-family: $nunito-regular;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
}
@mixin Nunito13M-SLS {
  font-family: $nunito-medium;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
}

@mixin ValidationImg {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 27px;
  left: 42%;
  @media (width < 1210px) {
    top: 12px;
    left: auto;
    right: 102px;
  }
  @media (width < 768px) {
    top: 93px;
    right: 15px;
  }
}
