@import "vars-fonts-mixins";
@import "reset";

body {
  font-family: "ArchivoBlack", sans-serif;
  // font-family: "Archivo Black", sans-serif;
}
a {
  text-decoration: none;
  color: $black;
  outline: none;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

details summary::marker {
  font-size: 0%;
}

.none {
  display: none;
}

.wrapper {
}
.wrap {
  width: 1210px;
  margin: 0 auto;

  @media (width < 1210px) {
    padding: 0 32px;
    width: calc(768px - 64px);
  }
  @media (width < 768px) {
    width: calc(320px - 16px);
    padding: 0 8px;
  }
}

.header {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 15.2px;
    flex-wrap: wrap;
    @media (width < 1210px) {
      display: flex;
      padding-bottom: 0px;
    }
    @media (width < 768px) {
      display: flex;
      padding-bottom: 0px;
      padding-top: 12px;
    }
  }
  &__logo {
    height: 40px;
    width: 108.9px;
    fill: $black;
    transition: fill 0.3s;
    @media (width < 768px) {
      width: 140px;
      height: 48px;
      margin-left: -5px;
    }
  }
  &__logo:hover {
    fill: $pink-dark;
  }
  &__nav {
    width: 698px;
    margin-top: -1px;
    @media (width < 1210px) {
      width: auto;
      display: flex;
      overflow-y: auto;
      padding-top: 21px;
      order: 4;
      margin-top: 0;
    }
    @media (width < 768px) {
      padding-top: 13px;
    }
  }
  &__nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &__link:not(:last-child) {
    margin-right: 10px;
    @media (width < 768px) {
      margin-right: 7px;
    }
  }
  &__link {
    padding: 8px 18px;
    border: 1.2px solid $pale;
    border-radius: 20px;
    @include Nunito15M-SLS;
    color: $black;
    user-select: none;
    @media (width < 1210px) {
      // font-family: "Nunito";
      // font-weight: 500;
      // font-size: 15px;
    }
  }

  &__search {
    display: flex;
    justify-content: end;
    @media (width < 1210px) {
      margin-top: -4px;
    }
  }
  &__search-img {
    padding-right: 27px;
    @media (width < 768px) {
      padding-right: 22px;
    }
  }
  &__search-span {
    padding-right: 11px;
    text-transform: uppercase;
    @include Nunito15M-SLS;
    position: relative;
  }
  &__search-span::before {
    content: "";
    display: block;
    height: 1.5px;
    width: 0%;
    background-color: $grass;
    position: absolute;
    bottom: 0;
    right: -17px;
    transition: width 0.4s;
  }
  &__search-span:hover::before {
    width: 67px;
    left: 0;
  }
  &__search-span:hover::before {
    @media (width <320px) {
      width: 67px;
      left: 0;
    }
  }
}

.button {
  &__carrera,
  &__gaming,
  &__marketing,
  &__software,
  &__diseno,
  &__programacion,
  &__audiovisual,
  &__negocios {
    background-color: $white;
    transition: background-color 0.3s;
  }
  &__carrera:disabled,
  &__gaming:disabled,
  &__marketing:disabled,
  &__software:disabled,
  &__diseno:disabled,
  &__programacion:disabled,
  &__audiovisual:disabled,
  &__negocios:disabled {
    opacity: 0.6;
  }
  &__carrera:hover {
    background-color: $mint;
  }
  &__gaming:hover {
    background-color: $grass;
  }
  &__marketing:hover {
    background-color: $tangerine;
  }
  &__software:hover {
    background-color: $turquoise;
  }
  &__diseno:hover {
    background-color: $pink;
  }
  &__programacion:hover {
    background-color: $sky;
  }
  &__audiovisual:hover {
    background-color: $violet;
  }
  &__negocios:hover {
    background-color: $coral;
  }
  &__carrera:active {
    background-color: $mint-dark;
  }
  &__gaming:active {
    background-color: $grass-dark;
  }
  &__marketing:active {
    background-color: $tangerine-dark;
  }
  &__software:active {
    background-color: $turquoise-dark;
  }
  &__diseno:active {
    background-color: $pink-dark;
  }
  &__programacion:active {
    background-color: $sky-dark;
  }
  &__audiovisual:active {
    background-color: $violet-dark;
  }
  &__negocios:active {
    background-color: $coral-dark;
  }
}

.runnig-string {
  overflow: hidden;
  &__text_artigos {
    padding: 27px 48px 27px;
    @media (width < 1210px) {
      padding: 21px 48px 17px;
      width: 320px;
    }
  }
  &__text_webinars {
    @media (width < 1210px) {
      padding: 20px 38px 16px;
      width: 156px;
    }
  }
  &__text_subscribe {
    @media (width < 1210px) {
      padding: 20px 50px 16px;
      width: 180px;
    }
  }
  &__text_descuento {
    @media (width < 1210px) {
      padding: 17px 50px 13px;
      width: 690px;
    }
    @media (width < 768px) {
      padding: 21px 50px 18px;
      width: 475px;
    }
  }

  &__box {
    display: flex;
    animation: running-string 40s infinite linear;
  }

  &_bottom {
    margin-top: -20px;
  }
}

@keyframes running-string {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-150%, 0);
  }
}

// @keyframes bottom-grass-line {
//   0% {
//     width: 0%;
//   }

//   100% {
//     width: 30px;
//   }
// }

@import "main";
@import "articles";
@import "webinars";
@import "form";
@import "footer";
